<a href="/">Back</a>
<br><br>
Please Login!
<br>
<form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="">
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="">
    <input type="submit" value="Login">
</form>
