 <a href="/">Back</a>
 
<h2>Sign Up Here!</h2>
 
 <form class="" action="/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" name="user[username]" value="">
    <label for="password">Password:</label>
    <input type="password" name="user[password]" value="">
    <input type="Submit" name="" value="Create User">
 </form>